<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GCD0806</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Greewich AP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated && User.IsInRole(GWAppDev1.Utils.Role.Admin))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("View Page Admin", "Index", "Admin")</li>
                    </ul>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole(GWAppDev1.Utils.Role.Staff))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("View Page Staff", "Index", "Staffs")</li>
                    </ul>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole(GWAppDev1.Utils.Role.Trainer))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("View Page Trainer", "Index", "Trainers")</li>
                    </ul>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole(GWAppDev1.Utils.Role.Trainee))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("View Page Trainee", "Index", "Trainees")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="bg-info">&copy; @DateTime.Now.Year -Application developed by students GREENWICH</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
