@model  IEnumerable<GWAppDev1.Models.Trainee>
@{
    ViewBag.Title = "ShowTraineeInfo";
}

<h2>ShowTraineeInfo</h2>

<div class="form-group">
    @Html.ActionLink("Back to Home", "Index", "Staffs", null, new { @class = "btn btn-primary" })
</div>
<div class="form-group">
    @Html.ActionLink("Create a new Trainee", "CreateTrainee", null, new { @class = "btn btn-primary" })
</div>
@using (Html.BeginForm("ShowTraineeInfo", "Staffs", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Search by trainee name or age" })
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}

<table class="table table-striped">
    <thread>
        <tr>
            <th class="text-danger">FullName</th>
            <th class="text-danger">Email</th>
            <th class="text-danger">Age</th>
            <th class="text-danger">Address</th>
            <th class="text-danger">DateOfBirth</th>
            <th class="text-danger">Action</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var trainee in Model)
        {
            <tr>
                <td>@trainee.Fullname</td>
                <td>@trainee.Email</td>
                <td>@trainee.Age</td>
                <td>@trainee.Address</td>
                <td>@trainee.DateOfBirth</td>

                <td>
                    @Html.ActionLink("Edit TraineeInfo", "EditTraineeInfo", new { id = trainee.Id },
                    new { @class = "btn btn-success" })
                    @Html.ActionLink("DeleteTrainer", "DeleteTrainer", new { id = trainee.Id }
                    , new { @class = "btn btn-danger", onClick = "return confirm('Are you sure?')" })
                </td>
            </tr>
        }
    </tbody>
</table>